.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(32, 38, 50, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.greenText {
  color: rgba(82, 254, 169, 1);
  text-align: center;
  letter-spacing: 5px;
  font-size: 10px;
  padding-bottom: 20px;
}

.mainText {
  color: rgba(183, 204, 210, 1);
  text-align: center;
  font-size: 25px;
  padding-bottom: 40px;
}

.boxBorder {
  background-color: rgba(49, 58, 73, 1);
  width: 550px;
  border-radius: 20px;
  padding: 30px;
}

.center {
  display: flex;
  justify-content: center;
}

.diceBtn {
  background-color: rgba(82, 254, 169, 1);
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-top: 12px;
  margin-top: 30px;
}

.diceDiv {
  margin-bottom: -60px;
}




